@import "./base/variables.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/content.scss";
@import "./components/footer.scss";

* {
  margin: 0;
}

p {
  font-family: $pfont;
  color: $pfontcolor;
  font-size: $pfontsize;
}
