@import "../base/variables.scss";

.row-left {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  .content-left {
    max-width: 40%;
    margin: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: left;
    h1 {
      font-family: $hfont;
      color: $hfontcolor;
      font-size: $h1fontsize;
      font-weight: $hfontweight;
    }
    h2 {
      font-family: $hfont;
      color: $hfontcolor;
      font-size: $h2fontsize;
      font-weight: $hfontweight;
    }
  }
}

.row-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  .content-right {
    max-width: 40%;
    margin: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    h1 {
      font-family: $hfont;
      color: $hfontcolor;
      font-size: $h1fontsize;
      font-weight: $hfontweight;
    }
    h2 {
      font-family: $hfont;
      color: $hfontcolor;
      font-size: $h2fontsize;
      font-weight: $hfontweight;
    }
  }
}

.img1 {
  background-image: url("../assets/tarantula-hawk-on-milkweed.jpg");
  height: 100%;
  width: 50%;
  background-attachment: fixed;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 850px 0px;
}

@media (min-width: 1920px) {
  .img1 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 1050px -250px;
  }
}
