@import "../base/variables.scss";

header {
  p {
    font-family: $pfont;
    font-size: $pfontsize;
    color: $pfontcolor;
    font-weight: $pfontweight;
  }

  a {
    font-family: $afont;
    font-size: $afontsize;
    color: $afontcolor;
    text-decoration: none;
  }

  li {
    display: flex;
  }

  ul {
    list-style-type: none;
  }
}

nav {
  height: 100px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
