// Font Styles
// Paragraph font styles

$pfont: "lato";
$pfontcolor: #353535;
$pfontsize: 1.3em;
$pfontweight: 100;

// header font styles

$hfont: "Coromont Garamond";
$hfontcolor: #353535;
$hfontweight: 100;
$h1fontsize: 4em;
$h2fontsize: 2em;

// link font styles

$afont: "lato";
$afontcolor: #353535;
$afontsize: 1.3em;

// list styles

// button variables
$buttonfont: "lato";
$buttonfontcolor: #353535;
$btnshadow: 1px, 8px, 12px, 1px rgba(0, 0, 0, 0.2);

// icon styles

$iconcolor: #353535;
